@import "~styles/_root";

.app-header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: $header-size;
    background-color: aqua;
    box-shadow: 1px 1px 5px #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}